# Importing packages

In [14]:
import numpy as np
import os
import pandas as pd
import matplotlib.pyplot as plt
from IPython.display import display

DIR=r'C:\Users\Yhara\Desktop\hackathon'

# What are we working on ?
The National Health and Nutrition Examination Survey (NHANES) is a population survey implemented by the Centers for Disease Control and Prevention (CDC) to monitor the health of the United States whose data is publicly available in hundreds of files. This Data Descriptor describes a single unified and universally accessible data file, merging across 255 separate files and stitching data across 4 surveys, encompassing 41,474 individuals and 1,191 variables. The variables consist of phenotype and environmental exposure information on each individual, specifically (1) demographic information, physical exam results (e.g., height, body mass index), laboratory results (e.g., cholesterol, glucose, and environmental exposures), and (4) questionnaire items.

https://datadryad.org/stash/dataset/doi:10.5061/dryad.d5h62

# Loading dataframe

In [200]:
#the dataset includes 41,474 individuals and 1191 variables
df = pd.read_csv(os.path.join(DIR, 'MainTable.csv'))

Useful commands to observe our dataframe

In [201]:
#lets look on the head of our dataframe
display(df.head(5))

,SEQN,RIDAGEYR,female,male,black,mexican,other_hispanic,other_eth,SES_LEVEL,education,...,MORTSTAT,MORTSOURCE_NDI,MORTSOURCE_SSA,PERMTH_INT,PERMTH_EXM,CAUSEAVL,UCODE,DIABETES,HYPERTEN,HIPFRACT
0,1,2,1,0,1,0,0,0,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,77,0,1,0,0,0,0,2.0,2.0,...,0.0,NaN,NaN,91.0,90.0,NaN,NaN,NaN,NaN,NaN
2,3,10,1,0,0,0,0,0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,1,0,1,1,0,0,0,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,49,0,1,0,0,0,0,2.0,2.0,...,0.0,NaN,NaN,74.0,74.0,NaN,NaN,NaN,NaN,NaN

In [202]:
#the bottom of the dataframe
display(df.tail())

,SEQN,RIDAGEYR,female,male,black,mexican,other_hispanic,other_eth,SES_LEVEL,education,...,MORTSTAT,MORTSOURCE_NDI,MORTSOURCE_SSA,PERMTH_INT,PERMTH_EXM,CAUSEAVL,UCODE,DIABETES,HYPERTEN,HIPFRACT
41469,41470,0,0,1,0,0,0,0,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41470,41471,12,0,1,1,0,0,0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41471,41472,34,0,1,0,0,0,0,1.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41472,41473,21,0,1,0,1,0,0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41473,41474,16,1,0,1,0,0,0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [203]:
#index columns and SEQN parameter are identical. lets drop the SEQN parameter from the dataframe
df = df.drop(['SEQN'], axis=1)

Parameter meanings are ununderstandable. Lets load the Variable description table

In [204]:
df_dict = pd.read_csv(os.path.join(DIR, 'VarDescription.csv'))

In [205]:
display(df_dict.head())

,tab_name,tab_desc,series,module,var,var_desc,analyzable,binary_ref_group,comment_var,version_date,...,mexican_pct,black_N,black_pct,other_hispanic_N,other_hispanic_pct,other_N,other_pct,series_num,category,sub_category
0,l02_c,"Hepatitis A, B, C and D",2003-2004,laboratory,LBXHBC,Hepatitis B core antibody,1,2.0,NaN,2009-11-13,...,0.271533,7304.0,0.244698,1200.0,0.040202,1157.0,0.038762,3,viral infection,NaN
1,l02_c,"Hepatitis A, B, C and D",2003-2004,laboratory,LBDHBG,Hepatitis B surface antigen,1,2.0,NaN,2009-11-13,...,0.271533,7304.0,0.244698,1200.0,0.040202,1157.0,0.038762,3,viral infection,NaN
2,l02_c,"Hepatitis A, B, C and D",2003-2004,laboratory,LBDHCV,Hepatitis C antibody (confirmed),1,2.0,NaN,2009-11-13,...,0.271826,7269.0,0.244361,1198.0,0.040273,1153.0,0.038760,3,viral infection,NaN
3,l02_c,"Hepatitis A, B, C and D",2003-2004,laboratory,LBDHD,Hepatitis D (anti-HDV),1,2.0,NaN,2009-11-13,...,0.271533,7304.0,0.244698,1200.0,0.040202,1157.0,0.038762,3,viral infection,NaN
4,l02hbs_c,Hepatitis B Surface Antibody,2003-2004,laboratory,LBXHBS,Hepatitis B Surface Antibody,1,2.0,NaN,2009-11-13,...,0.273572,7879.0,0.247472,1317.0,0.041366,1272.0,0.039952,3,viral infection,NaN

Lets create a dictionary where keys are our columns names and values are their description

In [206]:
#first we create a dictionary from the two columns - var and var_desc
data_dict = dict(zip(df_dict['var'], df_dict['var_desc']))

 We can observe lots of NaN values in our data. lets present a description of the number of nan values per row and per column.

In [207]:
df.isna().sum()

RIDAGEYR                     0
female                       0
male                         0
black                        0
mexican                      0
other_hispanic               0
other_eth                    0
SES_LEVEL                 3398
education                 7214
WTMEC2YR                     0
SDMVPSU                      0
SDMVSTRA                     0
SDDSRVYR                     0
WTMEC4YR                 20470
LBXHBC                   11625
LBDHBG                   11625
LBDHCV                   11727
LBDHD                    11625
LBXHBS                    9636
LBXHA                     9213
LBDHI                    29553
LBXCD4                   41361
LBXCD8                   41361
LBXWBF                   35126
LBXWCF                   35125
LBXWBM                   35126
LBXWCM                   35105
LBXWME                   35224
LBXV4C                   35773
LBXVBF                   36011
                         ...
LBXV2E                   38309
LBXV4E                   38343
LBXVTE                   38389
occupation               41474
area                         0
chronic_disease_count        0
any_chronic_disease          0
TELOMEAN                 33647
TELOSTD                  33647
any_cad                  21165
DMDMARTL                 14681
INDFMPIR                  3398
income                    4418
white                        0
age_0_18                     0
age_18_44                    0
age_44_65                    0
age_65_plus                  0
DMDBORN                     29
ELIGSTAT                 20470
MORTSTAT                 30045
MORTSOURCE_NDI           40411
MORTSOURCE_SSA           40411
PERMTH_INT               30045
PERMTH_EXM               30917
CAUSEAVL                 40411
UCODE                    40427
DIABETES                 40427
HYPERTEN                 40427
HIPFRACT                 40427
Length: 1190, dtype: int64

our mission is to predict who will probably die in X years 
Lets upload a file with mortality data, and filter the dataframe rows

In [208]:
df_mor = pd.read_csv(os.path.join(DIR, 'mortality_all.csv'))

In [209]:
#we will set the index of the dataframe to the column seqn, which is the index of our previous dataframe
df_mor=df_mor.set_index('seqn')

In [224]:
#merging dataframe by index
final_df = pd.merge(df_mor, df, left_index=True, right_index=True)
#we filtered out all record with no info about death date 

#other useful function - concatinate, join

we have 1200 columns, lets begin to filter columns based on their info

In [225]:
# most meausurments are repeated every couple of years. lets begin with getting rid of column of un repeated meausurment
# We will use the GroupBy method to group the columns by their year and we will filter columns that are not redundant

time_groups=df_dict.groupby('series')['var']

In [226]:
#unrelated useful function
?time_groups
type(time_groups)

pandas.core.groupby.generic.SeriesGroupBy

In [227]:
#Create a lists of lists
varlists=[]
for key,group in time_groups:
    varlists.append(group.values)
    
#we will select only the columns which are redundant 
common_cols=varlists[0]
for i,alist in enumerate(varlists): #enumerate - very useful function
    common_cols= (set(common_cols) & set(alist))

In [228]:
#we want to drop the unredundant columns from our original dataframe.
#flat a list
flat_cols = set([item for sublist in varlists for item in sublist])
col_remove = flat_cols - common_cols

#counterintuitive - some of the columns, like etnic group are of course unredundant, thus we woulnt want to remove them. 
#among the redundat columns we want to get rid of those which *arent*, and then remove them from our dataframe.

In [229]:
#very useful function to remove unwanted rows or columns from dataframe
#axis=1 refers to the columns, the default is rows
final_df = final_df.drop(col_remove, axis=1)

In [230]:
#We can assume food consumption and supplemental use might be less relevant for our work, lets get rid of these tabs
df_dict.groupby(['tab_desc']).size().sort_values(ascending=False).head(10)

tab_desc
Food Consumption              548
Pharmaceutical Use            400
Supplement Use                245
Any Disease                   160
Smoking Behavior              104
Reproductive-related drugs    104
Volatile Organic Compounds    101
Complete Blood Count           80
PHPYPA Urinary Phthalates      68
Body Measures                  66
dtype: int64

In [231]:
#getting rid of diet and supplementary parameters
# OR - using lambda functions
filter_diet = df_dict.apply(lambda row: row['var'] if row['tab_desc'] == 'Supplement Use' or  row['tab_desc']=='Food Consumption' else None, axis=1)
filter_diet=filter_diet.dropna()

In [232]:
df_cols = set(final_df.columns)
df_cols = df_cols - set(filter_diet)
final_df = final_df[df_cols] #easiest way to subset columns in pandas

# Dealing with categorical data

Our dataset has lots of exmaples of categorical data: which is coding a set of paramters
(color, ethnic group, type of treatment, etc.) represented with integers

lets look at an example in our dataset - gender

In [233]:
final_df[['male','female']].head()

    male  female
2      0       1
5      0       1
6      0       1
7      1       0
10     1       0

In [234]:
#We will get rid of the male female columns and save the gender column
#we might have rows with missing values. we should take it in account
final_df['gender'] = final_df.apply(lambda row: 1 if row['male']==1 else 0 if row['female']==1 else None, axis=1)
final_df = final_df.drop(['female','male'],axis=1)

Lets looks for relevant categorical data.
There is no perfect way to detect the categorical variables. we will confront the problem by account for the relative size of uniqe values in comaprison to total length of data set

In [287]:
#credits: https://stackoverflow.com/questions/35826912/what-is-a-good-heuristic-to-detect-if-a-column-in-a-pandas-dataframe-is-categori
#with some editing
def remove_cat_features(X, method='fraction_unique', cat_cols=None, min_fraction_unique=0.001):
    """Removes categorical features using a given method.
       X: pd.DataFrame, dataframe to remove categorical features from."""

    if method=='fraction_unique':
        unique_fraction = X.apply(lambda col: len(pd.unique(col))/len(col)) 
        reduced_X =  X.columns[unique_fraction<min_fraction_unique]

    return reduced_X

In [288]:
#problem - how to deal with loads of None values
cat_vars=remove_cat_features(final_df)

In [289]:
cat_vars

Index(['RHQ584', 'thyroid_cancer_self_report', 'dead_in2yr', 'CEPHALEXIN',
       'house_age', 'age_0_18', 'HIPFRACT', 'any_ht', 'DMDMARTL',
       'ETHINYL_ESTRADIOL__NORGESTIMATE',
       ...
       'RHQ540', 'mortstat', 'MORTSOURCE_NDI', 'RHQ566',
       'HYDROCHLOROTHIAZIDE__TRIAMTERENE', 'nervous_cancer_self_report',
       'RHQ570', 'SMQ020', 'lymphoma_self_report', 'gender'],
      dtype='object', length=160)

In [279]:
a=set(final_df['HYDROCHLOROTHIAZIDE__TRIAMTERENE'].values)

In [280]:
a

{0.0, 1.0, nan, nan, nan, nan, nan, nan, nan, nan}

In [292]:
final_df['age']

KeyError: 'age'